<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="content">
    <div class="top">
        <div class="logo logo-login">
            <img src="https://koronapay.com/beta/assets/icons/zk-logotype-clr.svg#zk-logo-clr">
        </div>
        <div class="login-form" style="visibility: hidden">
            <div class="form-inp">
                <input type="text">
                <div>Логин</div>
            </div>
            <div class="form-inp">
                <input type="password">
                <div>Пароль</div>
            </div>
            <div class="form-inp">
                <a class="form-btn">
                    Войти
                </a>
                <a class="sign">Зарегестрироваться</a>
            </div>
        </div>
        <div class="auth-user">
            Вы вошли как <span>Иван Антонов</span>
        </div>
    </div>
    <div class="main">
        <div class="row">
            <div class="col col-4">
                <div class="left-menu">
                    <div class="title-main">
                        <div>
                            Теремок
                        </div>
                        <div class="btn-edit btn-edit-place">
                            Изменить
                        </div>
                    </div>
                    <div>
                        Какая-то инфа о предприятии
                    </div>
                </div>
            </div>
            <div class="col col-8">
                <div class="right-menu">
                    <div class="title-main">
                        Список сотрудников
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Антонов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Антон Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Антон Антонов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                    <div class="empl">
                        <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                            <span class="profession">
                                Официант
                            </span>
                        </div>
                        <div class="btn-edit btn-edit-user">
                            Изменить
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>