<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/profile.js"></script>
</head>
<body>

<div class="content">
    <div class="top">
        <div class="logo logo-login">
            <img src="https://koronapay.com/beta/assets/icons/zk-logotype-clr.svg#zk-logo-clr">
            <div class="title">Чаевые</div>
        </div>
        <div class="login-form" style="display: none">
            <div class="form-inp">
                <input type="text">
                <div>Логин</div>
            </div>
            <div class="form-inp">
                <input type="password">
                <div>Пароль</div>
            </div>
            <div class="form-inp">
                <a class="form-btn">
                    Войти
                </a>
                <a class="sign">Зарегестрироваться</a>
            </div>
        </div>
        <div class="auth-user">
            Вы вошли как <span>Иван Антонов</span>
        </div>
    </div>
    <div class="menu-main">
        <div class="row">
            <div class="col col-4">
                <div class="left-menu">
                    <div class="title-main">
                        <div>
                            Теремок
                        </div>
                        <div class="btn-edit btn-edit-place" id="place-edit">
                            Изменить
                        </div>
                    </div>
                    <div class="place-info">
                        <div>Какая-то инфа о предприятии</div>
                    </div>
                </div>
            </div>
            <div class="col col-8">
                <div class="right-menu">
                    <div class="title-main title-main-left">
                        <div>
                            Список сотрудников
                        </div>
                        <div class="btn-edit btn-edit-place" id="add-user">
                            Добавить
                        </div>
                    </div>
                    <div class="adding">
                        <div class="form-inp">
                            <div class="txt-under">Логин</div>
                            <input type="text">
                        </div>
                        <div class="form-inp" >
                            <div class="txt-under">Телефон</div>
                            <input type="text"  class="input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd">
                        </div>
                        <div class="form-inp">
                            <div class="form-btn">
                                Добавить
                            </div>
                        </div>

                    </div>
                    <div class="employees-list">


                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Антонов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Антон Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Антон Антонов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                        <div class="empl">
                            <div class="emp-info">

                            <span class="name">
                                Иван Иванов
                            </span>
                                <span class="profession">
                                Официант
                            </span>
                            </div>
                            <div class="btn-edit btn-edit-user">
                                Удалить
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>