<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/assets/javascripts/bootstrap-formhelpers-phone.js"></script>
    <script src="/assets/javascripts/profile.js"></script>
</head>
<body>


<div class="sign-parent">
    <div class="sign-child">
        <form>
            <div class="sign-logo logo">
                <img src="https://koronapay.com/beta/assets/icons/zk-logotype-clr.svg#zk-logo-clr">
                <div class="title">Чаевые</div>
            </div>
            <div class="text">Введите свой номер телеофна, чтобы зарегистрироваться или восстановить пароль</div>
            <div class="form-inp" name="tel-frm">
                <input type="text" class="input-medium bfh-phone" data-format="+7 (ddd) ddd-dddd" name="telnum">
                <div name="warning">Заполните это поле</div>
            </div>
            <div class="form-inp">
                <div class="form-btn" id="save-user">
                    Подтвердить
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>